header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 999;
    padding: 1rem;
}

header .global-nav {
    width: 90%;
    margin: auto;
}

header .global-nav-menu {
    list-style: none;
    display: flex;
    margin-block: 0;
    padding-inline: 0;
    justify-content: end;
}

header .global-nav-menu a {
    color: black;
    font-weight: bold;
    font-size: .925rem;
    font-family: sans-serif;
    padding: 0 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

header .global-nav-menu a:hover, header .global-nav-menu a.active {
    color: #008577;
}