#interests .section-title {
    margin: 4rem;
}

#interests .wrapper .items {
    display: flex;
    justify-content: space-evenly;
}

#interests .wrapper .list-item {
    text-align: center;
}

#interests .wrapper i{
    font-size: 4rem;
}

#interests .wrapper h3 {
    font-size: 1.25rem;
}
