#achievements {
    background-attachment: fixed !important;
    background-size: cover !important;
    background-color: #222 !important;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#achievements:before {
    content: "";
    background-color: rgba(26, 30, 35, 0.85);
    position: absolute;
    width: 100%;
    height: 100%;
}

#achievements .wrapper {
    color: #fff;
    position: relative;
    width: 80%;
    top: 30%;
    width: 100%;
}

#achievements .section-title {
    margin: 3rem;
}

#achievements .wrapper .items {
    display: flex;
    justify-content: space-evenly;
}

#achievements .wrapper .list-item {
    text-align: center;
}

#achievements .wrapper i{
    font-size: 5rem;
}

#achievements .wrapper h3{
    margin: 1rem auto;
    text-align: center;
    font-size: 3rem;
}

#achievements .wrapper p {
    font-size: 1.25rem;
}
