body {
    color: #2c3e50;
}

body.no-scroll {
    overflow: hidden;
}

section {
    width: 90%;
    margin: 2rem auto;
    padding: 2rem 0;
}

section .section-title {
    text-transform: uppercase;
}

section .section-title h2 {
    font-size: 2rem;
    text-align: center;
}

section .sub-section-title h3 {
    font-size: 1.4rem;
    text-transform: uppercase;
}