#about img {
    width: 200px;
    border-radius: 50%;
    height: 188px;
}

#about > .wrapper {
    display: flex;
}

#about .wrapper .summary {
    width: 70%;
}

#about .wrapper .summary .overview {
    animation-name: fadeInUp;
}

#about .wrapper .biodata {
    width: 30%;
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid lightgray;
}

#about .biodata ul {
    padding: 0;
    list-style: none;
}

#about .biodata li {
    padding: .65em 0;
    display: flex;
}

#about .biodata li .label {
    font-weight: bold;
    width: 30%;
}

#about .biodata li .value {
    width: 70%;
}

#about .details {
    line-height: 1.7rem;
}

#about .key-skills ul{
    display: inline-block;
    list-style: none;
    padding: 0;
    width: 100%;
}

#about .key-skills ul li {
    float: left;
    width: 50%;
    padding: .65em 0;
    display: flex;
}

#about .key-skills li:before {
    content: "\f00c";
    font-family: fontawesome;
    color: #008577;
    margin-right: 10px;
}

@media(max-width:1999px) {
    #about .biodata li {
        flex-direction: column;
    }
}

@media(max-width:767px) {
    #about > .wrapper {
        display: grid;
    }

    #about .wrapper .biodata {
        width: 100%;
        border-right: none;
        padding-right: 0px;
        margin-right: 0px;
    }

    #about .wrapper .biodata .photo-wrapper {
        position: relative;
        text-align: center;
    }

    #about .wrapper .summary {
        width: 100%;
    }

    #about .biodata li {
        flex-direction: row;
    }

    #about .key-skills ul {
        list-style: none;
        padding-left: 0px;
        display: grid;
    }

    #about .key-skills ul li {
        display: initial;
        width: 100%;
        padding-bottom: .625rem;
    }
}