#skills {
    color: #fff;
    background-color: #1a1e23;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#skills .wrapper {
    display: grid;
    width: 90%;
}

#skills .section-title {
    padding-top: 2rem;
}

#skills .wrapper .list {
    list-style: none;
    padding-left: 0px;
    display: block;
}

#skills .wrapper .list .list-item {
    width: 50%;
    float: left;
    display: flex;
    margin-bottom: 3rem;
    align-items: baseline;
}

#skills .wrapper .list .list-item .label {
    width: 25%;
}

#skills .wrapper .list .list-item .label h3 {
    margin: 0;
}

#skills .wrapper .list .list-item .progress-bar {
    width: 75%;
}

#skills .wrapper .list .list-item .percentage-display {
    position: relative;
    top: -15px;
    font-size: .825rem;
    right: 25px;
}

#skills .key-skills-wrapper {
    display: flex;
    padding: 2rem 0;
    width: 90%;
    justify-content: space-around;
}

#skills .key-skills-wrapper .list-item {
    width: 100px;
}

#skills .key-skills-wrapper .list-item {
    text-align: center;
}

#skills .key-skills-wrapper .list-item .label {
    margin-top: 1rem;
}